.section{
    background-color: linear-gradient(to bottom right, #8BDFFF 0%, #65C8EE 71%, #32A6D2 100%);
    color: black;
}

.ripple {

    width: 10px;
    height: 10px;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);

}

.ripple::before,
.ripple::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all;
    box-shadow: 7px 7px 14px #79d9ff, -7px -7px 14px #6ccaef;
}

.ripple::before {
    background: linear-gradient(to bottom right, #65C8EE 0%, #00000000);
    animation: waves 4s linear forwards;
}

.ripple::after {
    animation: waves 4s linear .35s forwards;
}

@keyframes waves {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(20);
    }
}